"*":
  "atom-beautify":
    _analyticsUserId: "5ec84c94-4b36-409c-8ae5-ac977afed75e"
  core:
    disabledPackages: [
      "vim-mode"
    ]
    ignoredNames: [
      ".divshot-cache"
      "bower_components"
      "node_modules"
      ".DS_Store"
      "*.orig"
      "dist"
    ]
    projectHome: "/Users/neilrenicker/Projects"
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "1a9f1cf5-7699-d3b5-9666-be12c11cd652"
  "file-icons":
    coloured: false
  linter:
    errorPanelHeight: 67
    lintOnFly: false
  "linter-eslint": {}
  "linter-stylelint":
    disableWhenNoConfig: true
    usePreset: false
  "one-dark-ui": {}
  pigments: {}
  react: {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
".handlebars.html.text":
  editor:
    showIndentGuide: true
    showInvisibles: false
".ini.source":
  editor:
    showInvisibles: false
